*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-body);
}

/* navbar1 */

.nav-link {
    color: var(--color-gray-500);
    padding: 0.5rem 1rem;
}
.nav-link.active {
    color: #000000;
    border-radius: 5px;
}

.icon-squre {
    width: 36px;
    height: 36px;
    border: 2px solid #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lime-100);
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.icon-squre i {
    color: var(--color-gray-500);
}

.icon-circle {
    width: 36px;
    height: 36px;
    border: 1px solid #F6F6F6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-lime-100);
    margin-left: 10px;
}
.icon-circle img{
    width: 36px;
    height: 36px;
}
.line{
    color: var(--color-slate-400);
    margin: 1px 0;
}
/* navbar2 */

.search-box {
    border: 1px solid var(--color-lime-100);
    padding: 6px 15px;
    display: flex;
    align-items: center;
    width: 250px;
    border-radius: 5px;
}

.search-box input {
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
    background-color: transparent;
}
.search-box input::placeholder {
    color: #94A3B8;
}
.search-box i{
    color: #94A3B8;
}

.nav--link {
    color: #000000;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.nav--link.active {
    background-color: var(--color-lime-300);
    border-radius: 5px;
}

.add--button{
    background-color: var(--color-lime-300);
    border: 1px solid var(--color-lime-100);
    border-radius: 5px;
    padding: 6px 15px;
}
/* .add--button{
    border: 1px solid #EDEDED;
    border-radius: 5px;
    padding: 6px 15px;
} */

/* activity */

.activity-item {
    padding-left: 15px;
    position: relative;
    margin-bottom: 20px;
}

.view-all, .activity-item a{
    text-decoration: none;
    color: var(--color-lime-700);
}

.Avatar{
    width: 40px;
    height: 40px;
}
.nav-tabs .nav-link {
    color: var(--color-gray-500);
}
.nav-tabs .nav-link.active {
    color: var(--color-lime-700);
    border-color: var(--color-lime-700);
}
 /* campaign */
.campaign-card {
  background-color: var(--color-lime-300);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.campaign-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.campaign-card:nth-child(2), .campaign-card:nth-child(4) {
    background-color: var(--color-gray-500);
}
    
.campaign-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 0; 
}
.card-content {
    flex-grow: 1;
}
.activity-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
}
.activity-item {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
.eth-icon {
    color: var(--color-lime-700);
}
.btn-group .btn {
    color: var(--color-gray-500);
    border-color: var(--color-gray-500);
}
.btn-group .btn.active {
    color: var(--color-lime-700);
    border-color: var(--color-lime-700);
    background-color: #e9ecef;
}
.cards-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
}
.stats-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    margin-top: 15px;
}
.stats-card {
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 15px;
}
.stats-card h3 {
    font-size: 2rem;
    padding: 0 10px;
    margin-bottom: 0;
}
.stats-card p {
    margin-bottom: 0;
    padding: 10px;
    color: var(--color-gray-500);
}
.link-view-card{
    text-align: end;
}
.view-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    text-decoration: none;
    color: var(--color-lime-700);
}
