:root {
    /* ===== Global Variables ===== */
    /* ===== Colors ===== */ 
    --color-lime-500: #84cc16;  
    --color-lime-300: #D9F99D;    
    --color-lime-100: #ECFCCB;    
    --color-slate-400:#94a3b8 ;     
    --color-gray-900:#111827;
    --color-gray-600:#4b5563;
    --color-gray-500:#6b7280;
    --color-gray-200:#e5e7eb;
    --color-white: #ffffff;        
    --color-dark: #213430;       
    --font-primary-color-slate-900: #1f2937; 
    
    
    /* ===== Typography ===== */
    --font-body: 'Inter';

    /* ===== Font Sizes ===== */
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 28px;
    --font-size-xxl: 36px;

    /* ===== Spacing (Padding & Margin) ===== */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 40px;
    --space-xl: 60px;
    --space-xxl: 80px;
    --section-xxxl: 120px;

    /* ===== Border Radius & Shadow ===== */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 15px;

    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter28pt-Thin.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter28pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter28pt-Bold.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter28pt-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter28pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter28pt-Medium.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter28pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter28pt-Regular.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter28pt-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter28pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

